# Prerequisites
*.d

# Local scripts
*.bat
*.sh

!make.sh

# Editor files
.vscode
*.kate-swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Output
stage1/build
patch/build
patch/build_tool
payload/build
payload/binary
exploit/build
exploit/sbcm
launcher/build
*.elf
*.out
*.dol
*.wad
*.app
dist/
